<style>
    .wrapper {
      min-height: 90vh;
    }
  
    a {
      color: red;
       margin: 10px;
       margin-left: 70px;
       font-size: 18px;
      font-weight: bold;
      padding: 1000px;
    }
    #cont{
      margin-left:20%;
      margin-right:25%;
      width:60%;
    }
  </style>
  <div class="view"
    style="background-image: url('assets/Airplane logo.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
   <!-- <nav class="navbar navbar-dark">
      <div class="navbar-brand">
        <img src="assets/aeroplane.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <b>Flight Reservation System</b>
      </div>
      <div>
        <button type="button" class="btn btn-danger pull-right">LOGOUT</button>
      </div>
    </nav>-->
    <div class="wrapper">
      <div class="container ">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="bookedFlight/searchFlights" (click)="add()">Search Or Book Flight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="bookedFlight/show" (click)="view()">Show or cancel Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="bookedFlight/search" (click)="search()">Search Booked Ticket</a>
          </li>
         <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="bookedFlight/modify" (click)="search()">MODIFY</a>
          </li>-->
        </ul>
        <br><br>
  
        <div class="container card shadow-lg p-3 mb-5 bg-white rounded" id="cont">
          <h3 class="font-weight-bold">Search Flight Ticket</h3>
          <section style="border: 2px solid black; padding: 20px;">
            <form>
              <label>Enter PNR Number : </label>
              <input  type="text" class="form-control" type="text" [(ngModel)]="pNR_Number"
                [ngModelOptions]="{standalone: true}" required>
                <br>
              <!-- <small *ngIf="idValid" style="color: red;">Invalid ID. Please enter an id between 1 to 999.</small><br>-->
              <input type="submit" value="SEARCH" class="btn btn-primary" (click)="searchBookedFlight(pNR_Number)"
                [disabled]="!pNR_Number">
              <br><br>
              <div *ngIf="show">
                <label><b>Details: </b></label><br>
                <label>PNR Number : </label>
                <input type="text" class="form-control" value={{response.pNR_Number}} readonly>
                <br>
                <label>Flight Id : </label>
                <input type="number" class="form-control" value={{response.flightId}} readonly>
                <br>
                <label>Name : </label>
                <input type="text" class="form-control" value={{response.name}} readonly>
                <br>
                <label>Email Id : </label>
                <input type="text" class="form-control" value={{response.emailId}} readonly>
                <br>
                <label>Journey Date : </label>
                <input type="text" class="form-control" value={{response.journeyDate}} readonly>
                <br>
                <label>Source : </label>
                <input type="text" class="form-control" value={{response.source}} readonly>
                <br>
                <label>Destination : </label>
                <input type="text" class="form-control" value={{response.destination}} readonly>
                <br>
                <label>Passengers : </label>
               <!--<input type="text" class="form-control" value={{response.destination}} readonly>--> 
                <br>
  
                <table border="1" class="table table-striped table-dark">
                  <thead class="thead-dark">
                    <tr>
                      <th>First Name</th>
                      <th>Last name</th>
                      <th>Gender</th>
                      <th>Age</th>
                      <th>Seat No</th>
  
                    </tr>
                  </thead>
                  <tr *ngFor="let bk of response.passengers">
                    <td>{{bk.firstName}}</td>
                    <td>{{bk.lastName}}</td>
                    <td>{{bk.gender}}</td>
                    <td>{{bk.age}}</td>
                    <td>{{bk.seatNo}}</td>
                  </tr>
                </table>
                <br>
                <label>No Of Passengers : </label>
                <input type="text" class="form-control" value={{response.noOfPassenger}} readonly>
                <br>
                <label>Opted For Meal : </label>
                <input type="text" class="form-control" value={{response.meal}} readonly>
                <br>
                <label>Type Of Meal : </label>
                <input type="text" class="form-control" value={{response.typeOfMeal}} readonly>
                <br>
                <br>
  
                <!-- <button type="button" (click)="removeBookedFlight(pNR_Number)" class="cncBtn btn btn-danger">Cancel Flight</button> -->
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <footer class="navbar navbar-light bg-light" style="padding: 10px;">
      
      <span style="float: right;"></span>
  </footer>
  </div>