<style>
    #box{
      width: 50%;
      height: 50%;
    }
    #opacity-3 {
    opacity:0.6!important;
  }
  #button1{
    background-color: rgb(87, 155, 211);
    height: 50px;
    width: 370px;
    font-size: 15px;
    font-weight: bold;
  }
  #button2{
    background-color: rgb(87, 155, 211);
    height: 50px;
    width: 370px;
    font-size: 15px;
    font-weight: bold;
  }
  
  #button3{
    background-color: rgb(87, 155, 211);
    height: 50px;
    width: 370px;
    font-size: 15px;
    font-weight: bold;
  
  }
  
  </style>
  <!--<div class="view" style="background-image: url('assets/aeroplane-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">-->
  <!--<nav class="navbar navbar-dark ">
      <div class="navbar-brand">
        <!--<img src="assets/aeroplane.png" width="40" height="40" class="d-inline-block align-top" alt="">-->
      <!-- <b>Flight Reservation System</b>
      </div>
      <button type = "button" class ="btn btn-danger pull-right">LOGOUT</button>
    </nav>-->
    <div class="wrapper">
      <div class="container ">
        
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button type = "button" id ="button1" class = "btn btn-default"(click)="addBookedFlight()">Booked A Flight</button>
          </li>
          <li class="nav-item">
            <button type = "button" id ="button2"  class = "btn btn-default" (click)="searchBookedFlight()">Search Booked Flight</button>
          </li>
          <li class="nav-item">
            <button type = "button" id ="button3"  class = "btn btn-default" (click)="viewBookedFlight()">View History of Booked Flight</button>
          </li>
         
        </ul>
        </div>
        </div>
 <!-- </div>-->
  
  <!--<footer class="navbar navbar-light bg-light" style="padding: 10px;">
      Flight Reservation System
      <span style="float: right;">2022</span>
  </footer>-->
  
    